@import "https://fonts.googleapis.com/css?family=Josefin+Sans";
body {
	font-family:"Josefin Sans",sans-serif;
	margin:0px;
	padding:0px;
	text-align:center;
	background-color:#060606;
	color:#fefefe;
	font-size:100%;
}
h1 {
	font-size:300%;
	text-transform: uppercase;
}
h2 {
	display:inline;
	font-size:180%;
  margin:15px;
}
h2#time {
	display:block;
}
i {
	display:block;
}
#convert {
	color:red;
}
#btn {
	font-size:110%;
	cursor: pointer;
}
#btn:hover {
	color:red;
}
#weather {
	margin-top:5%;
	margin-left:auto;
	margin-right:auto;
	border-radius: 5px;
	padding:10px;
}
#description {
	display:block;
	margin-top:5%;
}
#toggle-off {
	display:none;
}
.fa {
	margin-left:10px;
}
#cOrF {
	color:white;
}
h2#temp {
	width:100px;
}
